<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhi</title>
    <link rel="stylesheet" href="/stylessheets/upstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <nav>
        <div class="left-nav">
            <img src="/images/aca.png" alt="" height="40vh" width="230vw">
        </div>
        <div class="right-nav">
            <ul>
            <li><a href="/views/index">Home</a></li>
            <li><a href="about.ejs">About us</a></li>
        </ul>
        </div>
    </nav>  
</div>
 <br>
 
      <main>
           <div class="card card-3">
                <div class="img">
                    <img src="/images/istockphoto-472315740-612x612.jpg" alt="" height="450vh" width="480vw">
                </div>         
                  <div class="content">
                    <p>  <h1>Qutub Minar</h1>
                         <br>
                         t a distance of 15 km from New Delhi Railway Station, Qutub Minar is the magnificent tower of victory stands in the Qutub Complex located at Aurabindo Marg near Mehrauli in Delhi. Qutub is the highest tower in India and is an UNESCO World Heritage Site. It is among the must visit Delhi tourist places and one of the best heritage sites in Delhi city. It is also commonly featured in the promotion of Delhi Tourism.

                         Qutub-ud-Din Aibak laid the foundation of Minar in 1199 AD for the use of the Mu'zzin (crier) to give calls for prayer and raised the first storey, to which three more storeys were added by his successor and son-in-law, Shamsud-Din Iltutmish (AD 1211-36). Numerous inscriptions in Arabic and Nagari characters in different places of the Minar reveal the history of Delhi. According to the inscriptions on its surface it was repaired by Firoz Shah Tughlaq (AD 1351-88) and Sikandar Lodi (AD 1489-1517). Major R. Smith also repaired and restored the Minar in 1829.
                         
                         It is an ideal example of Indo-Islamic architectural style. The minar has a diameter of 14.32 m at the base and about 2.75 m on the top with a height of 72.5 m (234 feet). The first three storeys are made of red sandstone and are heavily indented with different styles of fluting, alternately round and angular on the bottom floor, round on the second and angular on the third. The fourth and fifth floors are made of marble and sandstone. Qutub Minar is one of the tallest individual towers in the world. All the storeys are surrounded by a projected balcony encircling the Minar and supported by stone brackets, which are decorated with honey-comb design. There is a door on the northern side, leading into the tower to a spiral stairway with 379 steps that lead to the balcony in each floor.
                                            
                    </p>
                  </div>  
          </div>


          <div class="card-2">
            <div class="img">
                <img src="/images/jama.webp" alt="" height="450vh" width="480vw">
            </div>         
              <div class="Jama Masjid">
                <p>   
                    <h1>Jama Masjid</h1>
                    <br>
                    At a distance of 3.5 km from New Delhi Railway Station, Jama Masjid or Masjid-i-jahan-Numa is located in the center of old Delhi near the famous Red Fort. This is one of the largest mosques in India and one of the last monuments built by Mughal Emperor Shah Jahan. It is one of the top places to visit in Delhi city and also among the top historical sites in Delhi.

                    Jama Masjid was commissioned by Shah Jahan between 1644 and 1656 at a cost of 1 million rupees. This mosque was constructed with the efforts of more than 5,000 workers. The Masjid was completed under the supervision of Saadullah Khan, the Prime Minister of Shah Jahan and was inaugurated by an imam from Bukhara, present-day Uzbekistan. After the British victory in Revolt of 1857, they occupied the mosque and stationed their soldiers here.
                    
                    The mosque has three large gates, four towers and two 40 m high minarets constructed using red sandstone and white marble. The mosque is built on a red sandstone porch, which is about 30 feet from ground level and spreads over 1200 square meter. There are three domes on the terrace which are surrounded by the two minarets. The minarets are 130 feet (40 m) high and consist of 130 steps. The minarets consist of five storeys, each with a balcony. The adjoining edifices are filled with calligraphy. The first three storeys of the minarets are made of red sandstone, the fourth of marble and the fifth of sandstone.
                    
                    The floor of the mosque has been totally covered with white and black marbles that give the look of prayer mat as in Mohammedan culture. The outer courtyard of this mosque can hold around 25,000 people at a time, which is rectangular in shape and measures 75 m by 66 m. The prayer hall is decorated with arched marble structures inscribed with detailed history of the mosque. The cabinet in the north gate of the Jama Masjid contains a collection of Muhammad's relics - the Quran written on deerskin, a red beard-hair of the prophet, his sandals and his footprints implanted in a marble block
                </p>
              </div>  
      </div>

      <div class="card">
        <div class="img">
            <img  src="/images/akshardham.jpg"   height="450vh" width="480vw">
        </div>         
          <div class="content">
            <p>   
                <h1>Akshardham</h1>
                <br>
                At a distance of 10 km from New Delhi Railway Station, Akshardham Temple or Swaminarayan Temple is located on the banks of River Yamuna near Nizamuddin Bridge in Delhi. The temple is included in the list of Seven Wonders of the 21st Century by the prestigious Reader's Digest magazine. It is one of best built temples in India and among must visit tourist places in Delhi. It also has been listed in the 2009 edition of the Guinness World Records book as the largest Hindu temple in the world.

                Akshardham Temple is dedicated to Lord Swaminarayan. Akshardham means the adobe of the supreme lord and the temple is a fine example of the Hindu architecture. The complex is the second Akshardham complex in the country after the one at Gandhinagar in Gujarat.
                The building was inspired and moderated by Pramukh Swami Maharaj who was the spiritual leader BAPS community. It was inaugurated in November 2005 by the President, Dr. APJ Abdul Kalam.
                
                Spread over 100 acres, the temple complex is one of the most beautiful structures in India. The temple is a complex of many small structures with the main monument built according to Vaastu Shastra. The main monument is made of Rajasthani pink sandstone and Italian Carrara Marble. Built with earthquake-resistant provisions, its interior is bright and air conditioned. It is 141 feet high, 316 feet wide and about 370 feet long supported by 234 pillars with floral carvings and also has 11 huge mandapas (domes) and decorated arches.
                
                There are over 20,000 statues of Hindu gods and goddesses. The temple also features the Gajendra Pith at its base; it contains 148 life sized elephants in total weighing a 3000 tons. Under the temple's central dome lies the 11-foot high murti of Swaminarayan seated in abhayamudra. The temple also houses the statues of Sita Ram, Radha Krishna, Shiv Parvati and Lakshmi Narayan.
            </p>
          </div>  
  </div>
      </main>
      
      
      
     <footer>
      <h4>Designed and Developed By Yuvraj Singh</h4> 
   </footer>


</body>
</html>