<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
    <link rel="stylesheet" href="/stylessheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <nav>
        <div class="left-nav">
            <img src="/images/aca.png" alt="" height="40vh" width="230vw">
        </div>
        <div class="right-nav">
            <ul>
            <li><a href="/views/index">Home</a></li>
            <li><a href="about.ejs">About us</a></li>
        </ul>
        </div>
    </nav>  
</div>
 <br>
   
      
 <div class="main-one">
 <main>      
    <div class="left-main">
            <h1>If you don’t know history, then you don’t know anything. You are a leaf that doesn’t know it is part of a tree.</h1>
            <div class="middle-content">
                <h2>MICHAEL CRICHTON</h2>
            </div>
    </div>

      <div class="right-main">
                <img src="/images/India-Culture-Heritage-Clipart-PNG.png" alt="" height="600vh" width="666vw">
</div>
 </main>
</div>
    <div class="main-two">
        <main>
            <form method="get" action="/raj">
                <div class="card">
                <div class="img">
                    <img src="/images/fort.jpg" alt=""  height="280vh" width="380vw">
                </div>
                <div class="main-2-content">
                    <h1>Rajasthan</h1>
                    <input  class="submit"  type="submit" value="Know More">
                </div>
            </div>
            </form>

            <form method="get" action="/up">
                <div class="card">
                <div class="img">
                    <img src="/images/varashinew.webp" alt=""  height="280vh" width="380vw">
                </div>
                <div class="main-2-content">
                    <h1>Uttarpradesh</h1>
                    <input  class="submit"  type="submit" value="Know More">
                </div>
            </div>
            </form>          
            
            
            <form method="get" action="/delhi">
                <div class="card">
                <div class="img">
                    <img src="/images/red-fort-2128055-1793448.webp" alt=""  height="280vh" width="380vw">
                </div>
                <div class="main-2-content">
                    <h1>Delhi</h1>
                    <input  class="submit"  type="submit" value="Know More">
                </div>
            </div>
            </form>   
        </main>
    </div>

     <footer>
         <h4>Designed and Developed By Yuvraj Singh</h4> 
      </footer>

   
</body>
</html>