<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajasthan</title>
    <link rel="stylesheet" href="/stylessheets/rajstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <nav>
        <div class="left-nav">
            <img src="/images/aca.png" alt="" height="40vh" width="230vw">
        </div>
        <div class="right-nav">
            <ul>
            <li><a href="/views/index">Home</a></li>
            <li><a href="about.ejs">About us</a></li>
        </ul>
        </div>
    </nav>  
</div>
 <br>
 
      <main>
           <div class="card card-3">
                <div class="img">
                    <img src="/images/50d684dff63f09f4eb11151d526e4737.jpg" alt="" height="450vh" width="480vw">
                </div>         
                  <div class="content">
                    <p>  <h1>Chittor</h1>
                         <br>
                         Chittorgarh, located in the southern part of the state of Rajasthan, 233 km (144.8 mi) from Ajmer, midway between Delhi and Mumbai on National Highway 8 in the road network of Golden Quadrilateral. Chittorgarh is situated where National Highways No. 76 and 79 intersect.
                        Chittorgarh (garh means fort) was originally called Chitrakut. It is said to have been built by western branch of Mauryan ruler Chitrangada Mori.According to one legend, the name of the fort is derived from its builder. Several small Buddhist stupas dated to 9th century based on the script were found at the edge of Jaimal Patta lake.


The Guhila ruler Bappa Rawal is said to have captured the fort in either 728 CE or 734 CE. One account states that he received the fort in dowry. According to other versions of the legend, Bappa Rawal captured the fort either from the Moris.Historian R. C. Majumdar theorizes that the Moris were ruling at Chittor when the Arabs (mlechchhas) invaded north-western India around 725 CE. The Arabs defeated the Moris, and in turn, were defeated by a confederacy that included Bappa Rawal. R. V. Somani theorized that Bappa Rawal was a part of the army of Nagabhata I.Some historians doubt the historicity of this legend, arguing that the Guhilas did not control Chittor before the reign of the later ruler Allata.The earliest Guhila inscription discovered at Chittor is from the reign of Tejasimha (mid-13th century); it mentions "Chitrakuta-maha-durga" (the great fort of Chittor).

Chittor was known as " Chit-Ror " at that time . Between 1251 and 1258 , Balban repeatedly led troops to Chitror fort . Under the orders of Alauddin Khilji , Ulugh Khan laid a siege in the direction of Ranthambore , Chitror and Bundi forts.
                    </p>
                  </div>  
          </div>


          <div class="card-2">
            <div class="img">
                <img src="images/jaisalmer.jpg" alt="" height="450vh" width="480vw">
            </div>         
              <div class="content">
                <p>   
                    <h1>jaisalmer</h1>
                    <br>
                    The Jaisalmer fort is believed to have been built by a Bhatti Rajput called Rawal Jaisal in 1156 CE. Legends recount that the King constructed this fort on the advice of a local mystic who revealed that the site was blessed by Lord Krishna himself, making it invisible to all enemies. On completion, the structure was christened Jaisalmer- derived from the words “jaisal” (its founder) and “meru” (a mythical mountain found in Hindu and Buddhist cosmology). Jaisalmer is believed to have been made the new capital in place of Lodhurva, which lay about 15 kms away. The latter stood on a wealthy trade route but was frequently looted by invaders. The Trikuta hill and the vast expanse of desert surrounding it was considered to be a well-protected site for building the new fort. After the shift, a mud fort was constructed initially which was later replaced by the imposing fortress in stone.

The Jaisalmer fort stood on the crossroads of important trading routes of the time which included the Silk route. These routes connected India and Central Asia to the Middle East and North Africa. Traders would carry Indian and Chinese spices, tea, and tapestries across the desert to Turkey and Europe in caravans that were hundreds of camels strong. In this large integrated land mass connected by trade, the Thar desert acted as the entry to the plains of North India.
                </p>
              </div>  
      </div>


      <div class="card">
        <div class="img">
            <img src="/images/mehrangarh-fort-jodhpur-entry-fee-timings-holidays-reviews-header.jpg" alt="" height="450vh" width="480vw">
        </div>         
          <div class="content">
            <p>   
                <h1>Mehrangarh</h1>
                <br>
                The fort dates back to the mid-fifteenth century, when the leader of the Rathore clan, Rao Joha, decided to build a well-defended capital in place of the former capital, Mandore.

Indeed, with 120 foot-high thick walls and with its position on a steep hill, the Mehrangarh Fort would have been a daunting prospect to invaders – Rudyard Kipling described it as ‘the work of giants’.

In fact, the Mehrangarh Fort has lived up to its imposing appearance, having never been captured. Like Agra Fort, many of the fort’s entrances are ear-shaped: the theory being invaders would struggle to gain any momentum to break down the fort’s heavy gates if they did not have a straight run at them.

Inside the Mehrangarh Fort are numerous palaces, such as the ornately decorated Flower Palace “Phool Mahal” and the Pearl Palace or “Moti Mahal”. One of the most famous features of the Mehrangarh Fort is its hall of mirrors or “Sheesh Mahal”, which is encrusted with mirrors.

The fort is still run by the Jodhpur royal family today and houses impressive collections of textiles, ceramics and other art works.
            </p>
          </div>  
  </div>
      </main> 



      
     <footer>
      <h4>Designed and Developed By Yuvraj Singh</h4> 
   </footer>


</body>
</html>