<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uttarpradesh</title>
    <link rel="stylesheet" href="/stylessheets/upstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <nav>
        <div class="left-nav">
            <img src="/images/aca.png" alt="" height="40vh" width="230vw">
        </div>
        <div class="right-nav">
            <ul>
            <li><a href="/views/index">Home</a></li>
            <li><a href="about.ejs">About us</a></li>
        </ul>
        </div>
    </nav>  
</div>
 <br>
 
      <main>
           <div class="card card-3">
                <div class="img">
                    <img src="/images/HD-wallpaper-taj-mahal-india-tajmahal.jpg" alt="" height="450vh" width="480vw">
                </div>         
                  <div class="content">
                    <p>  <h1>Taj Mahal</h1>
                         <br>
                         At a distance of 214 km from Delhi, 242 km from Jaipur, 359 km from Lucknow, 576 km from Bhopal, 847 km from Patna and 876 Km from Ahmedabad, Agra, the land of the Taj Mahal, which is one of the Seven Wonders of the World, is situated on the banks of River Yamuna in the state of Uttar Pradesh. Agra is also among best weekend getaways near Delhi & Noida for a two day trip. Agra is one of the most popular tourist places in India and also one of the most famous tourist places to visit in Uttar Pradesh. Agra is included on the Golden Triangle tourist circuit, along with Delhi and Jaipur.

                         Agra is one of the most popular tourist destinations of the World with three UNESCO World Heritage monuments - Taj Mahal, Fatehpur Sikri & Red Fort. Agra was first mentioned in the epic Mahabharata, where it was called Agrevana meaning the border of the forest. Sultan Sikandar Lodi (1488-1517) was the first to move his capital from Delhi to Agra in 1504. After his death in 1517, his son Ibrahim Lodi continued to rule, until his defeat in the first battle of Panipat at the hands of the Mughal Emperor Babur in 1526. Agra famously became the capital of the Mughal Emperors from 1526 to 1658. It was known then as Akbarabad and remained the capital of the Mughal Empire under the Emperors Akbar, Jahangir ...                         
                    </p>
                  </div>  
          </div>


          <div class="card-2">
            <div class="img">
                <img src="/images/fathepur.jpg" alt="" height="450vh" width="480vw">
            </div>         
              <div class="content">
                <p>   
                    <h1>Fathepur Sikri</h1>
                    <br>
                    At a distance of 37 km from Agra, 223 km from Delhi and 209 km from Jaipur, Fatehpur Sikri is a deserted fort city in the Agra District of Uttar Pradesh, India. UNESCO declared this complex as a World Heritage Site in 1986. It is one of the popular place to visit along with Golden Triangle tour and also among ideal weekend getaways from Delhi & Noida cities.

Akbar, the greatest Mughal Emperor, was commissioned Fatehpur Sikri in 1569. The city was constructed to honour Sufi saint, Sheikh Salim Chisti, who used to live in a cavern on the ridge at Sikri. Akbar revered him very much as the Saint had blessed him with a son who was named Salim in 1569. Akbar shifted his capital from Agra to Sikri in 1571 and named the city as Fatehabad meaning victorious. This city served as the capital of the Mughal Empire from 1571 till 1585 and was later called Fatehpur Sikri. However, 15 years after it was established, the court had to be moved out of Fatehpur Sikri because of acute shortage of water. In 1619 Emperor Jahangir camped here for three months while a plague raged in nearby Agra. The city was refurbished to host the coronation of Muhammad Shah in 1719. After that, the city was largely abandoned until Lord Curzon, Viceroy of India for the British from 1898 to 1905, sponsored 
                </p>
              </div>  
      </div>

      <div class="card">
        <div class="img">
            <img  src="/images/hastinapur.jpg"   height="450vh" width="480vw">
        </div>         
          <div class="content">
            <p>   
                <h1>hastinapur</h1>
                <br>
                Hastinapur is a historical city in the Meerut district of Uttar Pradesh. Situated about 41 km from Meerut, 129 km from New Delhi, and 447 km from Lucknow, it is one of the popular places to visit in Uttar Pradesh, and among the must-include places in India tour packages.

                Situated on the right bank of the holy Ganges near Meerut, Hastinapur is an ancient town that was the center of the glorious tales of the great Hindu epic Mahabharata. It was the legendary capital of Kauravas. Hastinapur is viewed as one of the holiest places by both Hindus and Jains alike. This ancient town is also the birthplace of three Jain Tirthankaras. Also being the birthplace of Panch Pyare Bhai Dharam Singh, one of the five disciples of Guru Govind Singh Ji, Hastinapur is also a center for Sikh devotees. One can find many famous and historical places around and within the city to explore and gain a lot of information about the history of our country as part of Hastinapur packages.
                
                Some of the best Hastinapur tourist places are Pandeshwar Temple, Karna Temple, Jambudweep, Bada Digambar Jain Temple, Ashtapad, Kailash Parvat, and Bhai Dharam Singh Gurdwara. It is also one of the top places to visit near Delhi ...
            </p>
          </div>  
  </div>      
      </main> 

    
         
     <footer>
      <h4>Designed and Developed By Yuvraj Singh</h4> 
   </footer>


</body>
</html>